<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Hand Gesture Recognition</title>
</head>
<body>
    
    <h1>SIGN LANGUAGE TO TEXT</h1>
    <img id="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThOFHAUjQjVOoVYNstuRFN_FVRGFBpvx8tzw&s" alt="">
   
    <div id="box">
    <button onclick="start()">Start Camera</button>
    <button  onclick="stop()">Stop Camera</button>
</div>
   

    <script>
        function start() {
            const image = document.getElementById('image');
            image.src = '/start';
        }
        function stop(){
            const image=document.getElementById('image')
            image.src = '/stop';
        }

    </script>
</body>
</html>