
#page{
    height: 100vh;
    width: 100%;
}
video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Aclonica";
    src: url("/assets/fonts/Aclonica-Regular.ttf");
}

@font-face {
    font-family: "isl";
    src: url("/assets/fonts/PakistaniSignLangage.ttf");
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center
    /* min-height: 100vh; */
    /* overflow: hidden; */
}
#page , #page2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  
}
#page2{
    border: none;
    outline: none;
}
#page , #page2 video{
    height: 100%;
    width: 100%;
}

#back-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 23%;
    cursor: pointer;

}

h1 {
    position: absolute;
    margin: auto;
    top: 0.4rem;
    left: 42%;
    color: white;
    /* color: var(black); */
    font-family: "Poppins";
    font-size: 2rem;
}

.wrapper {
    margin-top: 4.5rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    background-color:rgba(128, 128, 128, 0.49);
    width: 85%;
    height: 13rem;
    border: 2px solid lightgray;
    border-radius: 18px;
    position: absolute;
    top: 10%;
    left: 7%;
}
::placeholder{
    color: black;
}
.player-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 15px; */
    /* margin-top: 3rem; */
    font-family: 'isl';
    font-size: 8rem;
}

.player-view span {
    font-size: 2.5rem;
}

#player-text {
    font-size: 2rem;
    margin: auto;
}

#text-area {
    height: 5%;
    width: 80%;
    background-color:rgba(128, 128, 128, 0.49) ;
    font-size: 15px;
    color: black;
    font-weight: bold;
    border: 1px solid white;
   margin-top: -18%;
   margin-left: 10%;
 } 

.line {
    color:black;
    font-size: 28px;
    padding-top: 7px;
    padding-left: 15px;
}

#last-line {
    color: var(--navyBlue);
}

.highlight {
    background-color: rgba(139, 105, 115, 0.911);
    color: black;
}


.message-container {
    margin-top: -10%;
    margin-left:29% ;
    height: 400px;
    width: 490px;
    background:rgba(128, 128, 128, 0.49);
    border-radius: 7px;
    border: 1px solid white;
    padding: 30px;
    position: absolute;
    
}
.container-wrapper{
    border-radius: 5px;
    border: 1px solid black;
}
.container-wrapper .text-input{
    display: flex;
    border-bottom: 1px solid black;
}
.text-input .to-text{
    border-radius: 0px;
    border-left: 1px solid black;
    color: black;
   
}

.text-input textarea{
    height: 250px;
    width: 150%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 15px;
    background: none;
   
}



.controls,li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.396);

}
.controls{
    list-style: none;
    padding: 12px 15px;
 
}
.controls .row-from{
    padding-right: 15px;
    border-right: 1px solid black;
   
}
.controls select{
    background-color: grey;
    font-weight: bold;
}
.controls .row-to{
    padding-right: 15px;
    border-right: 1px solid black;
}
.controls .icons i{
    width: 50px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
    
}
.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}

.message-container button{
    width: 200%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid white;
    background: rgba(36, 35, 35, 0.829);
    font-weight: bold;
    margin-top: 50%;
    margin-bottom: 10px;
    margin-right: 32%;
  
}


.message-input {
    width: 60%;
    flex-grow: 1;
    /* margin-right: 10px; */
    border: 2px solid lightgray;
    outline: none;
    font-size: 16px;
    color: var(black);
    margin-left: 20px;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.744);
    
}
/* #send-btn{
    height: 30%;
    width: 100%;
    margin-top: 50%;
    margin-bottom: 10px;
    margin-right: 35%;
    border: 2px solid black;
} */


